extends master-layout

block scripts
  include /scripts/seepw.js

block styles
  include /styles/form.css

block content
  form(action="" method="POST")
    .form-field
      label(for="username") username
      input#username(type="text" name="username" autofocus required)

    .form-field
      label(for="password") password
      input#password(type="password" name="password" required)
      button#seepw(type="button") seepw

    .form-field
      button(type="submit") login

    .form-field
      p #{status}
