extends master-layout

block styles
  include /styles/form.css

block content
  form(action="" method="POST")
    .form-field
      p You are logged in as #{username}

    .form-field
      button(type="submit") logout
